<!-- _layouts/default.html -->

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="sidebar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="content-wrapper">
      {% if page.title == "Home" %}
        {{ content1 }}
      {% elsif page.title == "About" %}
        {{ content2 }}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </body>
</html>
